<app-header></app-header>

<div class="container">
    <div class="formContainer">
        <label>Profile Picture</label>
        <form [formGroup]="userForm" class="loginForm" enctype="multipart/form-data">

            <input type="file" name="image" (change)="selectImage($event)">
            <button (click)="onUpload()">submit</button>
            <div>
                <input type='text' formControlName="userId" [(ngModel)]="this.id" class="inputField">
                <p class="error-msg"
                    *ngIf="userForm.controls['userId'].dirty && userForm.hasError('required','userId')">
                    *Id
                    Required</p>
            </div>
            <div>
                <input type='text' formControlName="name" class="inputField" [(ngModel)]="signUpData.name"
                    placeholder="Enter Name">
                <p class="error-msg" *ngIf="userForm.controls['name'].dirty && userForm.hasError('required','name')">
                    *Name
                    Required</p>
            </div>
            <div>
                <input type='text' class="inputField" formControlName="email" [(ngModel)]="signUpData.email"
                    placeholder="Enter Email">
                <p class="error-msg" *ngIf="userForm.controls['email'].dirty && userForm.hasError('required','email')">
                    *Email
                    Required</p>
            </div>

            <hr class="horizontalLine" />
            <div>
                <button [disabled]="!userForm.valid" type="submit" class="updatetBtn"
                    (click)="onClickUpdateBtn()">Update
                </button>
            </div>
        </form>
    </div>
</div>